rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permite leitura e escrita completa para todos os módulos acadêmicos do SESI ICP
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
